@import "../variables";

.categories {
  ul {
    display: flex;
    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .categories {
    padding: 5px 0;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    margin-top: 10px;
    ul {
      li {
        font-size: 12px;
        padding: 8px 12px;
        border-radius: 15px;
        margin-right: 10px;
      }
    }
  }
}
