@import "../variables";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}

//
//
// Mobile styles:
//
//

@media screen and (max-width: 420px) {
  .header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 8px;

    .container {
      width: 100%;
    }

    &__logo {
      display: flex;
      width: auto;

      img {
        width: 24px;
        margin-right: 10px;
      }

      h1 {
        font-size: 14px;
        letter-spacing: 1%;
      }

      p {
        font-size: 11px;
      }
    }
  }
}
